@import "mixins";

footer {
  background: $medium-dark-gray;
  padding: 10px 0;
}

.footer-copyright p {
  color: $white;
  font-size: 18px;
  line-height: 32px;
  margin: 20px 0 0;
}

footer img {
  width: 100px;
}

@media (max-width: 979px) {

  .footer-copyright p {
    margin: 30px 0 0;
  }

}