<p>
  A contact was made by <%= @message.email %> at <%= @message.created_at.strftime("%-I:%M on %a, %-d %b %Y") %>.
  The subject is "<%= @message.subject %>" and the body of the email is:
</p>

<%= @markdown %>

<p>
  Cheers!<br>
  Your humble W Hub server
</p>