<article id="contact-us" class="container contact-us">
  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Thank you for joining the W Hub community.</h1>      
    </div>
  </section>
</article>

