
<div class="container">
  <img src="assets/backgrounds/free_blue_sky.jpg" alt="">
  <header class="logo">
    <img src="assets/logo/whub_logo_04.png" alt="">
  </header>
  <p>Thank you for joining the W Hub community.</p>
</div>