<div class="col-md-5 footer-social">
  <img src="assets/logo/whub_logo_04.png" alt="">
</div>

<h1>Thank you for joining the W Hub community.</h1>
<p>
  back to 
  <%= link_to root_url do %>
    the W Hub
  <% end %>
</p>