<h2 class="sub-header">Registrants</h2>

<% if @registrants.empty? %>
  <p>No registrants yet.</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Expires</th>
          <th class="controls">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @registrants.each do |registrant| %>
          <tr>
            <td><a href="mailto:<%= registrant.email %>" title="Send mail"><%= registrant.email %></a></td>
            <td>
              <% if registrant.expires_at > @now %>
                <strong class="expired">Expired</strong>
              <% else %>
                <%= registrant.expires_at.strftime("%-I:%M on %a, %-d %b %Y") %>
              <% end %>
            </td>
            <td class="controls">
              <%= link_to "Delete", registrant_url(registrant), method: :destroy, class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
