<h1>Contacts</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Username</th>
      <th>Email</th>
      <th>Received</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.subject, contact_url(contact) %></td>
        <td>
          <% if contact.user %>
            <%= link_to contact.user.username, user_url(contact.user) %>
          <% else %>
            Unregistered
          <% end %>
        </td>
        <td><%= contact.email %></td>
        <td><%= contact.created_at.strftime("%-I:%M on %a, %-d %b %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>