// Base structure

$border-color:              rgba( 238, 238, 238, 1.0 );
$navbar-brand-color:        rgba( 153, 153, 153, 1.0 );
$sidebar-bgnd-color:        rgba( 245, 245, 245, 1.0 );
$sidebar-bgnd-active-color: rgba(  66, 139, 202, 1.0 );
$sidebar-active-color:      rgba( 255, 255, 255, 1.0 );
$key-link-color:            rgba( 255, 153,   0, 1.0 );
$expired-color:             rgba( 255,   0,   0, 1.0 );

$body-font-size: 16px;

body {
  font-size: $body-font-size;
  padding-top: 60px;
}

.navbar-inverse h1.navbar-brand {
  margin: 0;
}

.navbar-inverse .navbar-brand a {
  color: $navbar-brand-color;
}

.navbar-inverse .navbar-nav a.logout {
  color: $key-link-color;
}

.expired {
  color: $expired-color;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav a.logout:hover {
  color: $sidebar-active-color;
}

// Global add-ons

.sub-header {
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
}

// Sidebar

// Hide for mobile, show later
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    background-color: $sidebar-bgnd-color;
    border-right: 1px solid $border-color;
    bottom: 0;
    display: block;
    left: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}

// Sidebar navigation

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px; // 20px padding + 1px border
}

.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-sidebar > .active > a {
  background-color: $sidebar-bgnd-active-color;
  color: $sidebar-active-color;
}

// Main content

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.inline {
  display: inline;
}

.three-controls {
  width: 180px;
}

table.crud-list {
  margin: 20px 0 40px;
}

caption {
  font-size: 18px;
  padding: 5px;
  text-align: left;
  text-transform: uppercase;
}

caption.current  { color: rgba(  92, 184,  92, 1 ); }
caption.archived { color: rgba( 210,  50,  45, 1 ); }

.article-title {
  font-style: italic;
}

// Placeholder dashboard ideas

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  border-radius: 50%;
  display: inline-block;
}