@media only screen and ( max-width : 1024px ) {
#home-slider .slides li, #about .well, #services .well, #work .well, #work_slider, #section_video {
  background-attachment: scroll !important;
  background-position: center top !important;
  height: auto;
  margin: 0 auto;
  width: 100%;  }
* {
/*CSS animations off*/
 -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important; }
}

@media screen and ( max-width: 1023px ) {
.mbYTP_wrapper iframe, #volume, .mbYTP_wrapper iframe, #volume2 {display: none;}
}
@media only screen and ( device-width: 768px ) {
.mbYTP_wrapper iframe, #volume {display: none;}
}

@media only screen and ( max-width: 767px ){
.like { line-height: 55px; min-height: 250px; }
#nav-toggle { float: none !important; cursor: pointer; display: block; }
#menu{
  text-align: center;
  margin: -5px auto 0 !important;
  width: 100% !important;
}
#menu li {float: none !important;  margin: 0px auto 15px; }
#header {background-color: rgba( 255,255,255,1.0 ) !important;}
#logo{ padding: 25px 0px 0 20px; overflow: hidden; float: left; }

}

@media only screen and ( min-width : 768px ) and ( max-width : 1024px ) {
.like { line-height: 55px; min-height: 250px; }
.carousel-control.right { right: 35% !important; }
.carousel-control.left { left: 35% !important;  }
}

@media screen and ( min-width: 480px ) and ( max-width: 767px ){
.carousel-control.right { right: 40% !important; }
.carousel-control.left { left: 40% !important;  }
.intro-text { letter-spacing: 5px; line-height: 55px; font-size: 50px; }
}

@media screen and ( max-width: 480px ){
.intro-text{  letter-spacing: 5px; line-height: 40px; font-size: 30px; }
.intro-text-sub{ font-size: 15px; }
.intro-container h1{  letter-spacing: 5px; line-height: 50px; margin-bottom: 30px; }
.carousel2 { min-height: 500px;}
.carousel-control.right { right: 35% !important; }
.carousel-control.left { left: 35% !important;  }
}