.social-icons { font-size: 40px; list-style-type: none !important; }
.social-icons li { list-style-type: none !important; float: left; margin: 20px 10px 25px -8px; }
.social-icons ul li:last-child { margin-right: 0px; }
.social-icons li a { color: #333; float: left; }
.social-icons li a:hover { color: #777; float: left; }