.like { min-height: 200px; line-height: 70px; margin: 60px 0 20px; }

.ticker{
  font-family: 'Cousine', sans-serif;
  font-size: 52px;
  font-weight: 400;
  color: #222;
  line-height: 0px;
  word-spacing: -10px;
}