body {
  background-color: #fff;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}

.subscription-title {
    margin: 60px 10px;
}

.subscription-twitter {
    margin: 30px 10px;
    line-height: 45px;
}

.subscription-facebook {
    margin: 30px 10px;
    line-height: 60px;
}


