<article id="about-you" class="about-you">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <p>
          We're a community for talented, professional co-founders,
          job seekers, and entrepreneurs.
        </p>
        <h2>You are...</h2>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon">
              <i class="fa fa-eye"></i>
            </div>
            <h3>A START-UP</h3>
          </header>
          <ul class="user-benefits">
            <li>Find talented designers, technical gurus, and business experts</li>
            <li>Connect with like-minded talented entrepreneurs</li>
            <li>Become part of the community and <span class="color-orange">meet the Whubbers</span></li>
          </ul>
        </div>
      </aside>
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon">
              <i class="fa fa-table"></i>
            </div>
            <h3>TALENT</h3>
          </header>
          <ul class="user-benefits">
            <li>Make a difference!</li>
            <li>Take advantage of a start-up environment flexibility, excitment and an entrepreneurial spirit</li>
            <li>Get <span class="color-orange">a job doing work you actually care about</span></li>
          </ul>
        </div>
      </aside>
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon">
              <i class="fa fa-pencil"></i>
            </div>
            <h3>CURIOUS</h3>
          </header>
          <ul class="user-benefits">
            <li>Learn more about the start-up ecosystem</li>
            <li>Consider an exciting new career path</li>
            <li>Subscribe to our newsletter and <span class="color-orange">become a Whubber</span></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</article>