<article id="about-us" class="about-us">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h2>Who's behind this</h2>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
        </p>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-4">
        <div class="about-us-photo">
          <div class="about-us-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h3>John Doe</h3>
        <p class="our-position">Developer</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </aside>
      <aside class="col-md-4">
        <div class="about-us-photo">
          <div class="about-us-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h3>Tim Brown</h3>
        <p class="our-position">Founder</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </aside>
      <aside class="col-md-4">
        <div class="about-us-photo">
          <div class="about-us-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h3>Sarah Red</h3>
        <p class="our-position">Designer</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </aside>
    </div>
  </div>
</article>