<article id="about-you" class="about-you">
  <div class="container">
    <header class="row">
      <div class="col-md-12" class="about-you-head">
        <p>
          We're a community for talented, professional co-founders,
          job seekers, and entrepreneurs.
        </p>
        <h2>You are...</h2>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon about-startup">
              <i class="fa fa-eye"></i>
            </div>
            <h3 class="about-startup">A STARTUP</h3>
          </header>
          <ul class="user-benefits">
            <li>
              <i class="fa fa-bolt"></i>
              &nbsp;
              Find talented designers, technical gurus, and business experts
            </li>
            <li>
              <i class="fa fa-comment-o"></i>
              &nbsp;
              Connect with like-minded talented entrepreneurs
            </li>
            <li>
              <i class="fa fa-group"></i>
              &nbsp;
              Become part of the community and <span class="startup-style"><strong>meet the Whubbers</strong></span>
            </li>
          </ul>
        </div>
      </aside>
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon about-talent">
              <i class="fa fa-table"></i>
            </div>
            <h3 class="about-talent">TALENT</h3>
          </header>
          <ul class="user-benefits">
            <li>
              <i class="fa fa-rocket"></i>
              &nbsp;
              Make a difference!
            </li>
            <li>
              <i class="fa fa-gears"></i>
              &nbsp;
              Take advantage of a startup environment's flexibility, excitement and an entrepreneurial spirit
            </li>
            <li>
              <i class="fa fa-tachometer"></i>
              &nbsp;
              Get <span class="talent-style"><strong>a job doing work you actually care about</strong></span>
            </li>
          </ul>
        </div>
      </aside>
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon about-curious">
              <i class="fa fa-pencil"></i>
            </div>
            <h3 class="about-curious">CURIOUS</h3>
          </header>
          <ul class="user-benefits">
            <li>
              <i class="fa fa-lightbulb-o"></i>
              &nbsp;
              Learn more about the startup ecosystem
            </li>
            <li>
              <i class="fa fa-road"></i>
              &nbsp;
              Consider an exciting new career path
            </li>
            <li>
              <i class="fa fa-thumb-tack"></i>
              &nbsp;
              Subscribe to our newsletter and <span class="generic-style"><strong>become a Whubber</strong></span>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</article>