<article id="about-you" class="about-you">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <p>
          We're a free network for talented, professional co-founders,
          job seekers, &amp; entrepreneurs.
        </p>
        <h2>You are...</h2>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon">
              <i class="fa fa-eye"></i>
            </div>
            <h3>A start-up</h3>
          </header>
          <ul class="user-benefits">
            <li>Connect with like-minded talented entrepreneurs</li>
            <li>Meet talented designers, technical gurus, and business experts</li>
            <li>Enlarge your circle and <strong>meet the whubbers</strong></li>
          </ul>
        </div>
      </aside>
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon">
              <i class="fa fa-table"></i>
            </div>
            <h3>Talent</h3>
          </header>
          <ul class="user-benefits">
            <li>Make a difference!</li>
            <li>Work in an environment requiring discipline, adaptability, and an entrepreneurial spirit</li>
            <li>Get <strong>a job you actually care about</strong></li>
          </ul>
        </div>
      </aside>
      <aside class="col-md-4">
        <div>
          <header>
            <div class="about-icon">
              <i class="fa fa-pencil"></i>
            </div>
            <h3>Curious</h3>
          </header>
          <ul class="user-benefits">
            <li>Learn more about the start-up ecosystem</li>
            <li>Consider an exciting new career path</li>
            <li>Subscribe to our newsletter and <strong>don't miss out!</strong></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</article>