<article id="about-us" class="about-us">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h2>How it all started</h2>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-12">
        <p>
          <strong>W Hub</strong> was born around a cup of coffee, plenty of energy and lots of questions!
        </p>
        <p>
          Why so many talented people could not find a job? Why so many great business ideas had been unexplored just because of lacking the right partner to bounce them off with? Why are so many startups struggling to find the right people to help develop their business?
        </p>
        <p>
          There are so many talents, ideas and entrepreneurs in this Hong Kong Hub -- it is time to bring them together and <strong>make a difference</strong> to the startup ecosystem!
        </p>
        <p>
        <p>
          Welcome to the Whubbers community!
        </p>
      </aside>
    </div>
  </div>
</article>

