<div id="about-us" class="whos-behind-container">
  <div class="container">
    <div class="row">
      <div class="span12 whos-behind">
        <h3>Who's behind this</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span4 whos-behind-box-1">
        <div class="whos-behind-photo">
          <div class="whos-behind-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>John Doe</h4>
        <h5>Developer</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
      <div class="span4 whos-behind-box-1">
        <div class="whos-behind-photo">
          <div class="whos-behind-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>Tim Brown</h4>
        <h5>Founder</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
      <div class="span4 whos-behind-box-1">
        <div class="whos-behind-photo">
          <div class="whos-behind-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>Sarah Red</h4>
        <h5>Designer</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
    </div>
  </div>
</div>