<article id="about-us" class="about-us">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h2>How it all started</h2>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-12">
        <p>
          <strong>W Hub</strong> was born not on the back of a napkin but around a cup of coffee and a lot of questions!
        </p>
        <p>
          Why so many talented people could not find a job and why they have to walk away from entrepreneurship because they have not found the perfect idea or the right partner to bounce it off with!
          With all these talented people unable to find a job and entrepreneurs struggling to find people to develop their business we decided there was something to be done.
        </p>
        <p>
          So many talents and ideas in a hub like Hong Kong, it is time to take a chance to <strong>make a difference in the start-up ecosystem</strong> by either: <br><strong>creating or joining a company!</strong>
        </p>
        <p>
        <p>
          Welcome to the Whubbers community!
        </p>
      </aside>
    </div>
  </div>
</article>


<!-- <article id="about-us" class="about-us">
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h2>Who's behind this</h2>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
        </p>
      </div>
    </header>
    <div class="row">
      <aside class="col-md-4">
        <div class="about-us-photo">
          <div class="about-us-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h3>John Doe</h3>
        <p class="our-position">Developer</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </aside>
      <aside class="col-md-4">
        <div class="about-us-photo">
          <div class="about-us-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h3>Tim Brown</h3>
        <p class="our-position">Founder</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </aside>
      <aside class="col-md-4">
        <div class="about-us-photo">
          <div class="about-us-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h3>Sarah Red</h3>
        <p class="our-position">Designer</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </aside>
    </div>
  </div>
</article> -->


