<div id="coming-soon" class="coming-soon">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>W Hub</h1>
          <!-- <div class="logo">
            <h1><a href="#">W Hub</a></h1>
          </div> -->
          <section id='main-bgnd'>
            <h1>Uniting start-ups with talent</h1>
            <h2>Find a job in a start-up or co-found one!</h2>
            <p>
              Countdown to our debut:
            </p>
          </section>
          <div class="timer">
            <div class="days-wrapper">
              <span class="days"></span> <br>days
            </div>
            <div class="hours-wrapper">
              <span class="hours"></span> <br>hours
            </div>
            <div class="minutes-wrapper">
              <span class="minutes"></span> <br>minutes
            </div>
            <div class="seconds-wrapper">
              <span class="seconds"></span> <br>seconds
            </div>
          </div>
          <p class="top-arrow">
            <i class="fa fa-chevron-down"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>