<article id="countdown" class="countdown">
  <div class="container">
    <div class="row">
      <div class="col-md-12 countdown-block">
        <header class="logo">
          <!-- <h1>W Hub</h1> -->
          <img src="assets/logo/whub_logo_04.png" alt="">
          <br>
        </header>
        <h1>
          Uniting start-ups and talent
        </h1>
        <p>
          Find a job in a start-up or co-found one!
          <br>
          Countdown to our debut:
        </p>
        <section id="countdown-timer" class="timer">
          <div class="days-wrapper">
            <span id="days" class="days"></span>
            <br>
            days
          </div>
          <div class="hours-wrapper">
            <span id="hours" class="hours"></span>
            <br>
            hours
          </div>
          <div class="minutes-wrapper">
            <span id="minutes" class="minutes"></span>
            <br>
            minutes
          </div>
          <div class="seconds-wrapper">
            <span id="seconds" class="seconds"></span>
            <br>
            seconds
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="top-arrow" id="countdown-arrow">
          <i class="fa fa-chevron-down"></i>
        </p>
      </div>
    </div>
  </div>
</article>