<nav>
  <a class="menu-top" href="#">Countdown</a>
  <a class="menu-register" href="#">Register</a>
  <a class="menu-project" href="#">About you</a>
  <a class="menu-testimonials" href="#">Testimonials</a>
  <!-- to change testimonials -->
  <a class="menu-about-us" href="#">About us</a>
  <a class="menu-contact" href="#">Contact us</a>
  <div class="hide-menu">
    <a href="#" data-placement="bottom" data-original-title="Hide menu">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>
<div class="show-menu">
  <a href="#" data-placement="bottom" data-original-title="Show menu">
    <i class="fa fa-bars"></i>
  </a>
</div>