<div class="container">
  <nav class="row">
    <div class="col-sm-2 col-xs-12">
      <a class="menu-countdown" href="#">Countdown</a>
    </div>
    <div class="col-sm-2 col-xs-12">
      <a class="menu-subscribe" href="#">Sign up now!</a>
    </div>
    <div class="col-sm-2 col-xs-12">
      <a class="menu-about-you" href="#">About you</a>
    </div>
    <div class="col-sm-2 col-xs-12">
      <a class="menu-testimonials" href="#">Testimonials</a>
    </div>
    <div class="col-sm-2 col-xs-12">
      <a class="menu-about-us" href="#">About us</a>
    </div>
    <div class="col-sm-2 col-xs-12">
      <a class="menu-contact-us" href="#">Contact us</a>
    </div>
    <div class="hide-menu">
      <a href="#" data-placement="bottom" data-original-title="Hide menu">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>
</div>
<div class="show-menu">
  <a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Show menu">
    <i class="fa fa-bars"></i>
  </a>
</div>