<div class="social-media">
  <ul>
    <li>
      <a class="ultm ultm-facebook ultm-48 ultm-square" href="https://www.facebook.com/whubhk" target="_blank"></a>
    </li>
    <li>
      <a class="ultm ultm-twitter ultm-48 ultm-square" href="https://twitter.com/WHubhk" target="_blank"></a>
    </li>
  </ul>
</div>