<article id="subscribe" class="container">
  <div class="row">
    <div class="col-md-12 subscribe">
      <header>
        <h2>Don't miss out!</h2>
        <p>
          <span class="generic-style">Sign up now</span> to take part in our private beta testing.
        </p>
      </header>
      <form accept-charset="UTF-8" action="<%= subscriptions_url %>" id="subscription-form" method="post" class="form-inline">
        <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <label for="subscriber-email" class="sr-only">Email</label>
            <input type="email" id="subscriber-email" name="email" placeholder="Enter your email address..." class="form-control" required>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 talent-style">
            <input type="submit" id="subscriber-submit" name="talent" value="Sign up now!" class="btn">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          </div>
        </div>
      </form>
      <div class="subscription success-message"></div>
      <div class="subscription error-message"></div>
    </div>
  </div>
</article>