<article id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 testimonials">
        <header>
          <h2>Some of our awesome clients</h2>
        </header>
        <br>
        <br>
        <!-- <div class="testimonial-active"></div> -->
        <!-- <div class="testimonial-quote">&ldquo; &rdquo;</div> -->
        <!-- HK Hacknight -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="https://http://www.hongkonghacknights.com/" target="_blank">
              <img src="assets/clients/hkhklogo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Mabogo -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.mabogo.com" target="_blank">
              <img src="assets/clients/mabogologo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Makible -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://http://makibox.com/" target="_blank">
              <img src="assets/clients/makiblelogo.png" alt="">
            </a>
          </div>
        </div>
        <!-- MesAnges -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <img src="assets/clients/mesangeslogo.jpg" alt="">
          </div>
        </div>
        <!-- Evobilis -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.evobilis.com/" target="_blank">
              <img src="assets/clients/evobilislogo.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Ekowarehouse -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://ekowarehouse.com" target="_blank">
              <img src="assets/clients/ekowarehouselogo.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- General assembly -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="https://generalassemb.ly/hong-kong" target="_blank">
              <img src="assets/clients/galogo.png" alt="">
            </a>
          </div>
        </div>
        

      </div>
    </div>
  </div>
</article>