<article id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 testimonials">
        <header>
          <h2>Some of our awesome <span class="startup-style"><strong>startup partners</strong></span></h2>
        </header>
        <br>
        <br>
        <!-- <div class="testimonial-active"></div> -->
        <!-- <div class="testimonial-quote">&ldquo; &rdquo;</div> -->
        <!-- HK Hacknight -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="https://http://www.hongkonghacknights.com/" target="_blank" style="width: 110%">
              <img src="assets/clients/hkhacknights-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Mabogo -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.mabogo.com" target="_blank">
              <img src="assets/clients/mabogo-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- General assembly -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="https://generalassemb.ly/hong-kong" target="_blank">
              <img src="assets/clients/ga-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- MesAnges -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <img src="assets/clients/mesanges-logo.jpg" alt="">
          </div>
        </div>
        <!-- Evobilis -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.evobilis.com/" target="_blank">
              <img src="assets/clients/evobilis-logo.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Ekowarehouse -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://ekowarehouse.com" target="_blank">
              <img src="assets/clients/ekowarehouse-logo.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Makible -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="https://store.makibox.com/" target="_blank">
              <img src="assets/clients/makible-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Quantifeed -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.quantifeed.com/" target="_blank">
              <img src="assets/clients/quantifeed-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Kids Dailies -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.daily7-daily10.com" target="_blank">
              <img src="assets/clients/kids-dailies-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- BitGame Labs -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://bitgamelabs.com/" target="_blank">
              <img src="assets/clients/bitgame-labs-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Sol Wellness -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.sol-wellness.com/" target="_blank">
              <img src="assets/clients/solwellness-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- BuyMeDesign -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.buymedesign.com/" target="_blank">
              <img src="assets/clients/buymedesign-logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- Hong Kong inside Feng shui -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.hongkonginside.com" target="_blank">
              <img src="assets/clients/hki-logo.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Naku -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.nakuwine.com/" target="_blank">
              <img src="assets/clients/naku-logo.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- First code academy -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://firstcodeacademy.com/" target="_blank">
              <img src="assets/clients/first-code-academy-logo.png" alt="" style="width: 70%">
            </a>
          </div>
        </div>
        <!-- Nayla slippers -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.nayla-slippers.com/" target="_blank">
              <img src="assets/clients/nayla-slippers-logo.png" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</article>


