<article id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 testimonials">
        <header>
          <h2>Some of our awesome clients</h2>
        </header>
        <br>
        <br>
        <!-- <div class="testimonial-active"></div> -->
        <!-- <div class="testimonial-quote">&ldquo; &rdquo;</div> -->
        <!-- Mabogo -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.mabogo.com" target="_blank">
              <img src="assets/clients/mabogologo.png" alt="">
            </a>
          </div>
        </div>
        <div class="testimonial-single">
          <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et. Lorem ipsum dolor sit amet.
            <br>
            <a href="#">Jane Jonsson, blog.jane.com</a>
          </p> -->
          <!-- Makible -->
          <div class="testimonial-single-image">
            <a href="http://http://makibox.com/" target="_blank">
              <img src="assets/clients/makiblelogo.png" alt="">
            </a>
          </div>
        </div>
        <!-- MesAnges -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <img src="assets/clients/mesangeslogo.jpg" alt="">
          </div>
        </div>
        <!-- Ekowarehouse -->
        <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://ekowarehouse.com" target="_blank">
              <img src="assets/clients/ekowarehouselogo.jpg" alt="">
            </a>
          </div>
        </div>

        <!-- HK Hacknight -->
        <!-- TO BE DONE -->
        <!-- <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="https://www.facebook.com/hongkonghacknights" target="_blank">
              <img src="" alt="">
            </a>
          </div>
        </div> -->

        <!-- Evobilis -->
        <!-- TO BE DONE -->
        <!-- <div class="testimonial-single">
          <div class="testimonial-single-image">
            <a href="http://www.evobilis.com/" target="_blank">
              <img src="" alt="">
            </a>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</article>