/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ./vendor/font-awesome.min
 *= require ./vendor/ultm-general
 *= require ./vendor/ultm-sizes
 *= require ./vendor/ultm-shapes
 *= require ./vendor/ultm-bg-colors
 *= require ./vendor/ultm-bg-images-48
 *= require ./vendor/ultm-effects
 *= require ./vendor/media-queries
 */

dt {
  font-size: 18px;
  font-height: 36px;
  font-weight: 100;
  color: gray;
}

dd {
  font-size: 22px;
  line-height: 44px;
  margin-left: 40px;
  color: blue;
  background-color: white;
}

.yes { color: green; }
.no  { color: red; }