/*
 *= require ./admin/base
 *
 */

dt {
  font-size: 18px;
  font-height: 36px;
  font-weight: 100;
  color: gray;
}

dd {
  font-size: 22px;
  line-height: 44px;
  margin-left: 40px;
  color: blue;
  background-color: white;
}

.yes { color: green; }
.no  { color: red; }

.time { color: green; }

th.controls,
td.controls {
  width: 120px;
}