<footer>
  <div class="container">
    <div class="row">
      <div class="span7 footer-copyright">
        <p>&copy; 2014 W Hub</p>
      </div>
      <div class="span5 footer-social">
        <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href="#"></a>
        <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href="#"></a>
        <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href="#"></a>
      </div>
    </div>
  </div>
</footer>