<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-7 col-lg-6 footer-copyright">
        <p>
          &copy; 2014 <img src="http://whub.com.hk/assets/logo/whub_logo_05.png" alt="">
        </p>
      </div>
    </div>
  </div>
</footer>