<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-7 col-lg-6 footer-copyright">
        <p>
          &copy; 2014 <img src="http://whub.hk/images/assets/logo/whub_logo_05.png" alt="">
        </p>
      </div>
      <div class="col-xs-6 col-md-5 col-lg-6 footer-social">
        <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href="https://www.facebook.com/whubhk" target="_blank"></a>
        <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href="https://twitter.com/WHubhk" target="_blank"></a>
        <!-- <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href="#" target="_blank"></a> -->
      </div>
    </div>
  </div>
</footer>