<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7 footer-copyright">
        <p>&copy; 2014 W Hub</p>
      </div>
      <div class="col-md-5 footer-social">
        <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href="https://www.facebook.com/whubhk" target="_blank"></a>
        <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href="https://twitter.com/WHubhk" target="_blank"></a>
        <!-- <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href="#" target="_blank"></a> -->
      </div>
    </div>
  </div>
</footer>